.header-container{
    margin: 0 auto;
    padding: 22px 20px;
    

  
}

.header-container__navbar{
    margin-left: 169px;
    width: 1106px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header-container__navbar--link{
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
    
    
    a{
        margin-left: 32px;
        font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;



color: #939CAA;
    }
    a:hover{
        transition: 1s;
        font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */


color: #FCB72B;

    }
}
.site-btn{
    width: 180px;
    height: 53px;
    border: none;
    background: #FCB72B;
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */

text-align: center;

color: var(--w);
}
.site-btn:hover{
    transition: 2s;
    background: var(--w);
    border: #FCB72B 2px solid;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #FCB72B;

}

.hero{
    width: 1440px;
    height: 650px;
    background-image: url(/Images/hero.jpg);
    background-size: 1440px 650px;
    padding-top: 153px;
}
.hero--h1{
    width: 500px;
    height: 112px;
    margin-left: 165px;
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 56px;
/* or 100% */

letter-spacing: -2.5px;

color: var(--w);


}
.hero__info{
    display: flex;
    align-items: center;
}
.hero__info--p{
    width: 405px;
    height: 100px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
/* or 167% */


color: var(--w);
}
.hero__info--img2{
    margin-top: 100px;
}
.hero__info--btn{
    margin-left: 260px;
}



/*ABOUT PAGE*/
.about-header__hero{
    width: 1480px;
    height: 200px;
    background-image: url(/Images/about-hero.png);
    background-size: 1480px 200px;
    padding-top: 72px;
    padding-left: 165px;
}
.about-header__hero--h1{
    
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
/* identical to box height, or 100% */

letter-spacing: -2.5px;

color: #FFFFFF;

}